Company Chatbot/companyChatbot.json
{
  "name": "Comp_Ethiopian_Company_Chatbot_V3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -540,
        -100
      ],
      "id": "35bc075e-53bc-4c57-b86a-71b6f3bd7915",
      "name": "When chat message received",
      "webhookId": "3baa62af-00bf-4da9-abaa-60293acdd846"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You represent a respected Computer company based in Ethiopia. Serve customers with Ethiopian hospitality ('Kibur'). You can converse fluently in both Amharic and English. \n\nGuidelines:\n1. **Tone**: Use formal/respectful Amharic (e.g., 'Erswo') and traditional greetings like 'Selam' or 'Tenayistilign'.\n2. **Currency**: All prices are in Ethiopian Birr (ETB).\n3. **Payment**: If asked about payment, mention we accept Telebirr, CBE (Commercial Bank of Ethiopia), and Cash.\n4. **Sales**: If a customer wants to buy, politely ask for their Full Name and Phone Number. Then, send an email to the owner with these details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -240,
        -100
      ],
      "id": "1041b2f2-d3ac-4d2a-8ae2-879bd02f6158",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -140,
        120
      ],
      "id": "e666aa36-1405-46cc-a08e-8745c9e8a899",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UJlrjKPUMRNj9MSoikkbadUCphx4W7dTPYAceXt7KZ0",
          "mode": "list",
          "cachedResultName": "Ethiopian_Product_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UJlrjKPUMRNj9MSoikkbadUCphx4W7dTPYAceXt7KZ0/edit?gid=302176989"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=302176989",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UJlrjKPUMRNj9MSoikkbadUCphx4W7dTPYAceXt7KZ0/edit#gid=302176989"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        40,
        140
      ],
      "id": "7bc2e378-16ae-43d1-ad09-b321bd1ba489",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GnRmMPx8Hr4PU3ux",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "abthevillain@gmail.com",
        "subject": "New Order Request (Ethiopia)",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        240,
        60
      ],
      "id": "e403f235-3766-4fd2-b95b-ecb77485f32d",
      "name": "Send a message in Gmail",
      "webhookId": "218bed10-e904-460a-8b67-e7c72d6a3151",
      "credentials": {
        "gmailOAuth2": {
          "id": "h2WcmU0IwfnHF5J9",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -420,
        120
      ],
      "id": "f6de7cca-6c76-45c2-9d45-ca7f94c31852",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googleGeminiApi": {
          "id": "",
          "name": "Google Gemini account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e13d6e98-0fa7-44e8-82af-741f939a8c58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dfb2a3a29a3903eb7a664ab5ed9b401dfba5ace85737be04806afb662f24be2"
  },
  "id": "zqTYWHsUCcFhDkmm",
  "tags": []
} 